.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Pods/*
Pods/Pods.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcuserdata/*
.DS_Store